
body{
  margin:0 auto;
  padding:0;
  background-color: #323437;
  color: #d0cfc4;
}

.titleBox{
  font-size: 24px;
  font-weight: bold;
  margin-left: 155px;
  margin-bottom: 20px;
  margin-top: 28px;
}


.textBox{
  margin-top: 153px;
  padding: 1px;
  margin-left: 158px;


}

.line1{
  color: #65676a;
  height: auto;
  font-size: 1.7rem;
  margin-top: 8px;
  font-weight: 400;
  width: 100%;
  
}




.character{
  margin:0px;
  padding:1px;
  
}

.incorrect{
  color:red;

}

.notTyped{
  color:gray;
}

.correct{
  color:green;
}
